Gather the mean values of T2 from every BA in the Historical dataset and create a time series analysis

In [11]:
import os

import pandas as pd

import numpy as np

import matplotlib

import glob

In [12]:
# set up a path for the concatenated dataframe
from pathlib import Path

path = r'C:\projects\CONUS_TGW_WRF_Historical\CONUS_TGW_WRF_Historical'

files = Path(path).glob('*.csv')

In [13]:
# create a concatenated dataframe from all csv files
dfs = list()
for f in files:
    data = pd.read_csv(f)
    # .stem is method for pathlib objects to get the filename w/o the extension
    data['file'] = f.stem
    dfs.append(data)

In [14]:
# concatenate big dataframe of all data
plant_df = pd.concat(dfs, ignore_index=True)

In [15]:
# create a list of the data frames
path = r'C:\projects\CONUS_TGW_WRF_Historical\CONUS_TGW_WRF_Historical'
all_files = glob.glob(os.path.join(path , "*.csv"))

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

In [16]:
# return a list of the means of T2 for each imported dataframe
mean_list = []
for df in li:
    mean_list.append(df["T2"].mean())
    
mean_df = pd.DataFrame(mean_list, columns=["T2 Means"])

I'd like to get some more info into this mean_df dataframe. Ideally the name of the csv file so that I have the year and BA for each mean.

In [17]:
# run a for loop using basename function to get base file names into a list
file_names = []
for file_path in all_files:
    x = os.path.basename(file_path)
    file_names.append(x)

In [28]:
# remove the .csv from each file name
BA_list = []
for csv_name in range(len(file_names)):
    base_name = os.path.splitext(os.path.basename(file_names[csv_name]))[0]
    BA_list.append(base_name)

In [35]:
# split the file names into lists in BA_list
BA_list_split = []
for name in BA_list:
    split = name.split("_")
    BA_list_split.append(split)

In [41]:
# take the first elements (BAs) and last elements (years) and put them into their respective lists
BA_names = []
years = []
for file_list in BA_list_split:
    BA_names.append(file_list[0])
    years.append(file_list[5])

In [43]:
# add BA and Year columns to dataframe and correct the column order
mean_df['BA'] = BA_names
mean_df['Year'] = years

mean_df = mean_df[['BA', 'Year', 'T2 Means']]

print(mean_df)
# yay it works!

        BA  Year    T2 Means
0     AECI  1980  286.316761
1     AECI  1981  286.469531
2     AECI  1982  285.469139
3     AECI  1983  285.432616
4     AECI  1984  285.600995
...    ...   ...         ...
2275  WAUW  2015  281.200692
2276  WAUW  2016  281.189107
2277  WAUW  2017  280.206579
2278  WAUW  2018  279.044531
2279  WAUW  2019  278.161652

[2280 rows x 3 columns]

Now I need to turn this process into a function.

In [51]:
def t2_mean(list_of_files: list):
    
    # what am I inputting? how do I ensure the correct directory?
    
    # create a list of the data frames
    df_list = []
    for file_name in list_of_files:
        df = pd.read_csv(file_name, index_col = None, header = 0)
        df_list.append(df)
    
    # return a list of the T2 means
    means_list = []
    for df in df_list:
        means_list.append(df["T2"].mean())
    
    means_df = pd.DataFrame(means_list, columns=["T2 Means"])
    
    # create list of file names to get more information for each T2
    files = []
    for file_path in list_of_files:
        name = os.path.basename(file_path)
        files.append(name)
    
    # remove the .csv from each file name
    BA_list = []
    for csv_name in range(len(files)):
        base_name = os.path.splitext(os.path.basename(files[csv_name]))[0]
        BA_list.append(base_name)
     
    # split the file names into lists in BA_list
    BA_list_split = []
    for name in BA_list:
        split = name.split("_")
        BA_list_split.append(split)
        
    # take the first elements (BAs) and last elements (years) and put them into their respective lists
    BA_names = []
    years = []
    for file_list in BA_list_split:
        BA_names.append(file_list[0])
        years.append(file_list[5])
        
    # add BA and Year columns to dataframe and correct the column order
    means_df['BA'] = BA_names
    means_df['Year'] = years

    means_df = means_df[['BA', 'Year', 'T2 Means']]
    
    return means_df

1) split File strings into BAs and years, turn them into two separate columns
2) consider adding the two lines of code needed to create the list_of_files into the function by instead taking the path as the function input
3) swap print() for return
4) test the function for HOT and COLD data
5) plotting?
6) stats background reading

In [52]:
hot_path = r'C:\projects\CONUS_TGW_WRF_SSP585_HOT\CONUS_TGW_WRF_SSP585_HOT'

hot_files = glob.glob(os.path.join(hot_path , "*.csv"))

t2_mean(hot_files)

        BA  Year    T2 Means
0     AECI  2020  288.445799
1     AECI  2021  288.530342
2     AECI  2022  287.674314
3     AECI  2023  287.652112
4     AECI  2024  287.897982
...    ...   ...         ...
4555  WAUW  2095  288.223081
4556  WAUW  2096  288.100712
4557  WAUW  2097  287.319889
4558  WAUW  2098  286.457986
4559  WAUW  2099  285.387398

[4560 rows x 3 columns]