In [53]:
import os
import glob
import pandas as pd
import numpy as np

In [54]:
data_input_dir = '/Users/burl878/Downloads/temp'

ba_code = 'AEC'

# Create a vector of temperature bins used to compute the histogram:
t_bins = np.arange(250,350,5)

t_bins

array([250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310,
       315, 320, 325, 330, 335, 340, 345])

In [55]:
# Make a list of the files associated with a single BA indicated by "ba_code":
list_of_files = glob.glob(os.path.join(data_input_dir, f'{ba_code}_*.csv'))

list_of_files

['/Users/burl878/Downloads/temp/AEC_WRF_Hourly_Mean_Meteorology_2024.csv',
 '/Users/burl878/Downloads/temp/AEC_WRF_Hourly_Mean_Meteorology_2023.csv',
 '/Users/burl878/Downloads/temp/AEC_WRF_Hourly_Mean_Meteorology_2022.csv',
 '/Users/burl878/Downloads/temp/AEC_WRF_Hourly_Mean_Meteorology_2020.csv',
 '/Users/burl878/Downloads/temp/AEC_WRF_Hourly_Mean_Meteorology_2021.csv']

In [52]:
# Loop over the range of files in the filelist:
for i in range(len(list_of_files)):
    # Read in the data for a single year:
    df = pd.read_csv(list_of_files[i], index_col = None, header = 0)
    
    # Compute the histogram using the t_bins vector to define the bin edges:
    hist, bin_edges = np.histogram(df['T2'], bins=t_bins, density=True)
    
    # Convert the numpy array to a df:
    hist_df = pd.DataFrame(hist, columns=[str(i)])
    
    # Aggregate the output into a new dataframe:
    if i == 0:
        aggregate_output_df = hist_df
    else:
        aggregate_output_df = pd.concat([aggregate_output_df, hist_df], axis=1)
    
# Display the aggregate df with each column being the frequency of T2 for a single year of data:
aggregate_output_df

           0         1         2         3         4
0   0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000183  0.000137  0.000000  0.000000
2   0.000000  0.000616  0.000342  0.000000  0.000000
3   0.001298  0.001187  0.001050  0.000865  0.001667
4   0.004804  0.004018  0.003607  0.006239  0.006621
5   0.012750  0.016210  0.011849  0.014619  0.013699
6   0.023748  0.029658  0.021963  0.024046  0.025753
7   0.032445  0.032945  0.030868  0.033906  0.030525
8   0.037682  0.035388  0.039132  0.034407  0.035251
9   0.049476  0.044315  0.052877  0.042559  0.045228
10  0.030692  0.027831  0.032466  0.028646  0.028265
11  0.007104  0.007648  0.005708  0.013936  0.012534
12  0.000000  0.000000  0.000000  0.000774  0.000457
13  0.000000  0.000000  0.000000  0.000000  0.000000
14  0.000000  0.000000  0.000000  0.000000  0.000000
15  0.000000  0.000000  0.000000  0.000000  0.000000
16  0.000000  0.000000  0.000000  0.000000  0.000000
17  0.000000  0.000000  0.000000  0.000000  0.000000
18  0.000000  0.000000  0.000000  0.000000  0.000000